    /*Переменные*/
$main-color: #F16D7F;
$desktop-width: 1140px;
$main-font-size: 14px;
$shift: 50px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 body {
     margin: 0;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     font-family: 'Lato', sans-serif;
     font-size: $main-font-size;
     line-height: 17px;
 }
 .wrap {
     width: $desktop-width;
     outline: 1px solid red;
     margin: 0 auto;
 }
     /*Шапка сайта*/
 .header {
     background-color: #222222;
     color: #fff;
     padding: 19px 0;
 }
 .hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     clip: rect(0px 0px 0px 0px);
 }
 .header-wrap {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }
 .header-left {
    display: flex;
    align-items: center;     
 }
 .header-right {
    display: flex;
    align-items: center;
    gap: 20px;    
 }
 .logo-site {
     text-decoration: none;
     color: transparent;
     margin-right: 41px;
 }
 .header-search-icon {
     background-color: transparent;
     border: none;
     text-decoration: none;
     color: inherit;  
     
         & svg {
            fill: #f8f8f8;
            transition: 0.4s;
        }
        &:hover svg {
            fill: $main-color;
        }
 }
 .header-menu-icon {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: inherit;
    display: inline-block;    
    
       & svg {
           fill: #f8f8f8;
           transition: 0.4s;
       }
       &:hover svg {
           fill: $main-color;
       }
 }
 
 .account-link {
     background-color: transparent;
     border: none;
     text-decoration: none;
     color: inherit;
     display: inline-block;
     margin: 0 33px;     

        & svg {
            fill: #f8f8f8;
            transition: 0.4s;
        }
        &:hover svg {
            fill: $main-color;
        }
 }
 .basket-link {
     position: relative;
     margin-right: 5px;
     background-color: transparent;
     border: #fff;     

        & svg {
            fill: #f8f8f8;
            transition: 0.4s;
        }
        &:hover svg {
            fill: $main-color;
        }
 }
 .number-of-positions {
    position: absolute;
    top: -9px;
    right: -5px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    color: #fff;
    font-size: $main-font-size - 2px;
 }
    /*Блок большого меню*/
.main-nav {
    width: 232px;
    height: 760px;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    right: 0;
    top: 79px;
    color: #000000;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    transition: 0.5s;
}
/*.main-nav--open {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}    */
.main-nav--close {
    //-webkit-transform: scaleY(0);
    //        transform: scaleY(0);
    display: none;
}
.main-nav-box {
    position: relative;
}
.main-nav-close {
    display: flex;
    background-color: transparent;
    border: none;
    color: #6F6E6E;
    font-size: $main-font-size;
    float: right;
}
.main-nav-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: $main-font-size;
    line-height: 17px;
    color: #000000;
    margin-top: 12px;
    margin-left: 12px;
}
.main-nav-list {    
    padding: 12px;
    list-style-type: none;
}
.main-nav-item {
    margin-top: 10px;
}
.main-nav-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: 17px;
    color: $main-color;
    text-decoration: none;
}
.submenu-list {    
    list-style-type: none;
    margin-left: 25px;
    margin-top: 10px;    
}
.submenu-item {
    margin-top: 10px;    
}
.submenu-link {    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    transition: color 0.3s;
    
        &:hover {
            color:$main-color
        }
}

     /*Розовый блок на главной странице*/
 .promo {
     background-color: #F1E4E6;
     min-height: 765px;
 }
 .brand-wrap {
     height: 765px;
     background-image: url(../img/the-man.png);
     background-repeat: no-repeat;
     background-position-x: -226px;
     background-position-y: bottom;
     display: flex;
     align-items: center;
     justify-content: flex-end;
 }
 .brand-title {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 900;
     font-size: $main-font-size + 34px;
     line-height: 40px;
     color: #222222;
     border-left: 12px solid $main-color;
     padding-left: 16px;
     margin-right: 90px;
 }
 .brand-title-mini {
     font-family: 'Lato';
     font-style: normal;
     font-weight: bold;
     font-size: $main-font-size + 18px;
     line-height: 38px;
     color: #222222;
 }
 .brand-title-pink {
     font-family: 'Lato';
     font-style: normal;
     font-weight: bold;
     font-size: $main-font-size + 18px;
     line-height: 38px;
     color: $main-color;
 }
     /*Категории товаров на главной странице*/
 .content {
     margin-top: 65px;
     padding-bottom: 95px;
 }
 .content-text {
    margin: 0 auto;
 }
 .categories-wrap {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .section {
     background-color: #c4c4c4;
     width: 360px;
     height: 260px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .women-categories {
     background-image: url(../img/for-women.png);
     margin-right: 30px;
 }
 .men-categories {
     background-image: url(../img/for-men.png);
     margin-right: 30px;
 }
 .kids-categories {
     background-image: url(../img/for-kidss.png);
 }
 .accesories-cards {
     margin-top: 30px;
     margin-bottom: 95px;
     width: 100%;
     height: 180px;
     background-image: url(../img/accesories.png);
 }
 .categories-sale {
     font-weight: 400;
     font-size: $main-font-size + 2px;
     line-height: 19px;
     text-align: center;
     color: #FFFFFF;
 }
 .categories-name {
     font-weight: 400;
     font-size: $main-font-size + 10px;
     line-height: 29px;
     text-align: center;
     color: $main-color;
 }
 .content-heading {
     font-weight: 400;
     font-size: $main-font-size + 16px;
     line-height: 36px;
     text-align: center;
     margin-bottom: 6px;
     color: #222222;
 }
 .content-miniText {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size;
     line-height: 17px;
     text-align: center;
     color: #9F9F9F;
     margin-bottom: 18px;
 }
     /*Карточки продуктов*/
 .product-cards {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     column-gap: 30px;
     row-gap: 30px;
     margin-top: 30px;     
 }
 .product-overlay {
     display: none;
     position: absolute;
     background-color: rgba(58, 56, 56, 0.86);
     width: 100%;
     height: 420px;     
     justify-content: center;
     align-items: center;    
 }
 .btn-add {
     background-color: transparent;
     border: 1px solid #fff;
     color: #fff;     
}
.btn-add-icon {
    width: 26px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
    margin-right: 5px; 
    margin-top: 11px; 
    margin-bottom: 8px;  
}
.btn-add-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: 17px;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    margin-right: 12px; 
}
 .card_1, .card_2, .card_3, .card_4,
  .card_5, .card_6, .card_7, .card_8, .card_9 {
    background-color: #F8F8F8;
    position: relative;
    width: 360px;    

        &:hover .product-overlay {
            display: flex;
        }
}
 .cards-img {
     width: 360px;
     height: 420px;
 }
 .heading_card-text {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size - 1px;
     line-height: 16px;
     color: #000000;
     margin-top: 25px;
     margin-left: 18px;
 }
 .mini_card-text {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 300;
     font-size: $main-font-size;
     line-height: 17px;
     color: #5D5D5D;
     margin-left: 18px;
     margin-top: 12px;
 }
 .price {
     font-weight: 400;
     font-size: $main-font-size + 2px;
     line-height: 19px;
     color: $main-color;
     margin-left: 18px;
     margin-top: 18px;
     margin-bottom: 20px;
 }
     /*Кнопка под карточками на гл.стр.*/
 .framed-text {
     margin: 0 auto;
     margin-top: 48px;
     display: flex;
     justify-content: center;
 }
 .text_in_frame {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 2px;
     line-height: 19px;
     color: $main-color;
     border: 1px solid $main-color; width: 211px; height: 47px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     transition: background-color 0.7s, color 0.5s;

        &:hover {
            color: #fff;
            background-color: $main-color;
        }
        & .fa-caret-right {
            margin-left: 10px;
        }
 
 }
 
     /*Преимущества*/
 .advantages {
     height: 341px;
     background-color: #222224;
     color: #fff;
 }
 .information {
     height: 341px;
     display: flex;
     justify-content: space-between;
 }
 .info-delivery {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 100px;
 }
 .logo-del {
     width: 45px;
     height: 32px;
     display: flex;
     align-items: center;
 }
 .info-sales {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 30px;
     margin-right: 30px;
 }
 .logo-sales {
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
 }
 .info-quality {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-right: 100px;
 }
 .logo-quality {
     width: 47px;
     height: 35px;
     display: flex;
     align-items: center;
 }    
 .text-info {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 300;
     font-size: $main-font-size;
     line-height: 17px;
     text-align: center;
     color: #FBFBFB;
     margin-top: 16px;
 }
 .delivery {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 6px;
     line-height: 24px;
     color: #FBFBFB;
     margin-top: 25px;
 }
 .sales {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 6px;
     line-height: 24px;
     color: #FBFBFB;
     margin-top: 19px;
 }
 .quality {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 6px;
     line-height: 24px;
     color: #FBFBFB;
     margin-top: 25px;
 }
     /*Отзывы и подписка*/
 .meta {
    background-image: url(../img/background-subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 .subscribe-content {
     display: flex;
     justify-content: space-between;     
     height: 448px;
 }
 .sub-foto-mini {
     width: 96px;
     height: 96px;
     display: flex;
     align-items: center;
     margin-top: 90px;
     margin-left: 130px;
 }
 .subscribe-info {
     width: 359.45px;
     height: 225px;
     left: 230.29px;
     top: 97px;
     margin-left: 80px;
 }
 .sub-content {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 6px;
     line-height: 24px;
     text-align: center;
     color: #222224;
     margin-top: 30px;
 }
 .sub-content-italic {
     font-family: 'Lato';
     font-style: italic;
     font-weight: 400;
     font-size: $main-font-size + 6px;
     line-height: 24px;
     text-align: center;
     color: #222224;
 }
 .subscribe {
     margin-top: 130px;
 }
 .sub-text {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 700;
     font-size: $main-font-size + 6px;
     line-height: 167.2%;
     text-align: center;
     color: #222224;
     margin-right: 150px;
 }
 .sub-text-mini {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 4px;
     line-height: 167.2%;
     text-align: center;
 }
 .subscribe-form {
     display: flex;
     justify-content: center;
     margin-right: 150px;
 }
 .subscribe-form-field {
     color: #000000;
     padding: 10px;
     border: none;
     background-color: #E1E1E1;
     border-radius: 15px 0 0 15px;
     margin-top: 20px;
     height: 40px;

        &::placeholder {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: $main-font-size;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: #95959c;
        } 
 }
 .subscribe-form-button {
     padding: 10px;
     background-color: $main-color;
     color: #fff;
     border: none;
     border-radius: 0 15px 15px 0;
     margin-top: 20px;
     transition: 0.4s;

        &:hover {
            background-color: brown;
            transform: translate(4px, -3px);
        }
 }
     /*Подвал*/
 .footer {
     background-color: #222222;
     color: #fff;
     height: 70px;
 }
 .footer-content {
     display: flex;
     justify-content: space-between;
     height: 70px;
 }
 .footer-copyright {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 2px;
     line-height: 19px;
     color: #FBFBFB;
     display: flex;
    margin-top: 30px;     
 }
 .social-network {
     list-style: none;
     display: flex;
     margin-top: 20px;     
     padding: 0;
     gap: 8px;
 }
 .social-link {
     color: #222;
     background-color: #fff;
     width: 32px;
     height: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: $main-font-size + 2px;
     text-decoration: none;
     transition: 0.4s;

        &:hover {
            color: #fff;
            background-color: $main-color;
 }
 }
 
     /*Назв.каталога и ссылка*/
.catalog-page {
    background-color: #F8F3F4;
}
 .catalog-page-wrap {
     height: 148px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .catalog-title {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size + 10px;
     line-height: 29px;
     color: $main-color;
     display: flex;      
 }
 .catalog-links {
    display: flex;    
    justify-content: flex-end;
    align-items: center;
 }
     /*Меню каталога*/
 .catalog-menu {
     display: flex;     
 }
 .catalog-menu-wrap {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .catalog-menu-left {
     display: flex;
     justify-content: flex-start;    
     align-items: flex-end;     
     margin-top: 45px;         
     width: 360px;
     margin-bottom: 5px;
     position: relative;     
    
        & svg {
             margin-top: 4px;
        }
        &[open] {
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }
        &[open] .menu-filter {
            color:$main-color;
            fill: $main-color;
        }               
 }
 .menu-filter {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 600;
     font-size: $main-font-size;
     line-height: 17px;
     color: #000000;
     padding-right: 11px;         
     cursor: pointer;
     display: block;
     background-color: #fff;
     position: relative;
     z-index: 11;
     margin-left: 16px;  

        &::-webkit-details-marker {
            display: none;
    }
}
.filter-overlay {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-item {
    margin-bottom: 20px;
}
.filter-item[open] .filter-name {
    color:$main-color
}
.filter-name {
    display: block;
    padding: 15px;
    border-left: 5px solid $main-color;
    border-bottom: 1px solid #ebebeb;
    color: #6F6E6E;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 5px;

        &::-webkit-details-marker {
            display: none;
        }
}
.filter-list {
    padding-left: 0;
    list-style-type: none; 
    margin-top: 24px;
    margin-left: 20px;   
}
.subcategory {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: 17px;
    color: #6F6E6E;
    background-color: #fff;
    border: none;
    margin-bottom: 11px;
}
 .catalog-menu-right {
     display: flex;
     align-items: flex-end;
     margin-right: 470px;     
     margin-top: 37px;
 }
 .dropdown {
     position: relative;
     display: inline-block;

        &:hover .dropdown-content {
            display: block;
        }

 }
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 79px;
    height: 103px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 1;
    left: 65%;
    transform: translateX(-50%);    
 } 
 .sort {
     width: 12px;
     height: 12px;
     border: 1px solid #EBEBEB;
     margin-left: 10px;
     margin-top: 8px;
 }
 .sort-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: 16px;    
    color: #6F6E6E;
    margin-left: 9px;
 } 
 .drop-down-menu {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     font-size: $main-font-size;
     line-height: 17px;
     color: #6F6E6E;
     text-decoration: none;
     margin-left: 25px;
     transition: 0.4s;

        &:hover {
            text-decoration: none;
            color: $main-color;
        }
 }
     /*Хлебные крошки*/
 .breadcrumbs {
     display: flex;
     margin-left: auto;
     
 }
 .breadcrumbs-list {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     gap: 7px;
 }
 .breadcrumbs-item::before {
     content: '/';
     margin-right: 3px;

     &:first-child::before {
        display: none; /*Убираем разделитель для первого пункта*/
    }
 }
 .breadcrumbs-link--current {
     font-weight: bold;
     color: $main-color;
 }
 
 .breadcrumbs-link {
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 300;
     font-size: $main-font-size;
     line-height: 17px;
     color: #636363;
     transition: 0.2s;

     &[href]:hover {
        text-decoration: none;
        color: $main-color;
    }
 }
  
    /*Пагинатор*/
 .active-paginator {
     display: flex;
     margin-left: auto;
     margin-right: auto;
     margin-top: 48px;
     border: 1px solid #ebebeb; width: 283px; height: 43px;
     border-radius: 3px 3px 3px 3px; 
 }
 .paginator {     
     display: flex;
     justify-content: center; 
     align-items: center;
     margin-left: 2px;
 }
 .paginator-item {
     display: inline;
     padding: 9px;

        &:hover {
            color: #EF5B70;
            text-decoration: none;
            font-size: $main-font-size + 5px;
        }
 }
 .number-page {
     display: inline;
     padding: 0;
     font-family: 'Lato';
     font-style: normal;
     font-weight: 300;
     font-size: $main-font-size + 2px;
     line-height: 19px;
     color: #9F9F9F;
     text-decoration: none;
     
 }
 .pag-active-link {
    color: #9F9F9F;
    text-decoration: none;

        &:hover {
            color: #494848;
            text-decoration: none;
        }
 }
 .pag-active-link--current {
     color: $main-color;
     text-decoration: none;
 }

    /*Страница товара. Блок с фото.*/

 .product-presentation {
    background: #F7F7F7;
    min-height: 765px;
 }
 .product-presentation-wrap {  
    height: 777px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/foto_str_cataloga.jpg);
    background-repeat: no-repeat; 
    background-position: center;  
    
    padding-bottom: $shift;
 }
 .left-cursor {
    width: 47px;
    height: 47px;
    background-color: #E1E1E1;
    display: flex;
    justify-content: flex-start; 
 }
 .right-cursor {
    width: 47px;
    height: 47px;
    background-color: #E1E1E1;
    display: flex;
    justify-content: flex-end;
 }
 .prev-slide {   
    padding-top: 14px;
    padding-left: 18px;
    color: #000000;
    font-size: $main-font-size + 4px;
    text-decoration: none;
    transition: 0.4s;

        &:hover {
            color: $main-color;
            font-size: $main-font-size + 6px;
            text-decoration: none;
        }
 }
 .next-slide {    
    padding-top: 14px;
    padding-right: 17px;
    color: #000000;
    font-size: $main-font-size + 4px;
    text-decoration: none;
    transition: 0.4s;

        &:hover {
            color: $main-color;
            font-size: $main-font-size + 6px;
            text-decoration: none;
        }
 }
 .product-description {
    width: 1141px;
    height: 601px;
    display: flex;    
    margin: 0 auto;    
 }
 .product-description-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    margin-top: -$shift;
}
.red-line {
    width: 63px;
    height: 3px;
    justify-content: center;
    margin-top: 12px;
}
.product_name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: $main-font-size + 4px;
    line-height: 22px;
    color: #4D4D4D;
    justify-content: center;
    margin-top: 12px;
}
.product_story {
    width: 555px;
    height: 52px;
    align-items: center;
    margin-top: 48px;
}
.product_story_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}
.cost {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #EF5B70;
    margin-top: 32px;
}
.grey-line {
    margin-top: 65px;
}
.product_menu {
    align-items: center;
    margin-top: 65px;
}
.add_to_cart_button {
    background-color: #fff;    
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    border: 1px solid $main-color; width: 211px; height: 47px;
    margin-top: 49px;
    transition: 0.8s;

        & svg {
            fill: #EF5B70;
            align-items: center;
            margin-left: 23px;
        }
        &:hover {
            color:#f8f8f8;
            background-color: $main-color;
        }
        &:hover svg {
            fill:#ebebeb
        }
        &:hover span {
            color:#f8f8f8;
        }
}

.text_to_cart_button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: $main-font-size + 2px;
    line-height: 19px;
    color: $main-color;
    text-align: center;    
    text-decoration: none;
    padding-left: 23px;      
}
 .collection-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: $main-font-size;
    line-height: 17px; 
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-left: auto;
    margin-right: auto;*/
 }